
<div class="thought dFlex_ac" 
     [ngClass]="{ 'hovered': hovered }" 
     (mouseenter)="hovered = true"
     (mouseleave)="hovered = false" 
     [style.background-image]="'url(' + thought.backgroundimage + ')'">

  <p class="comment">{{ comment }}</p>

  <div class="colleague_info">
    <div class="name_and_title">
      <span>{{ thought.name }}</span>
      <span>{{ thought.title }}</span>
    </div>

    <!-- LinkedIn nur anzeigen, wenn vorhanden -->
    <a *ngIf="thought.linkedIn" 
       [href]="thought.linkedIn" 
       target="_blank" 
       rel="noopener noreferrer">
      <img class="link_img" src="/assets/icons/linkedin-icon-black.svg" alt="LinkedIn">
    </a>

    <!-- GitHub nur anzeigen, wenn vorhanden -->
    <a *ngIf="thought.github" 
       [href]="thought.github" 
       target="_blank" 
       rel="noopener noreferrer">
      <img class="link_img" src="/assets/icons/square-github-black.svg" alt="GitHub">
    </a>

    <span *ngIf="thought.profileLink">{{ thought.profileLink }}</span>
  </div>
</div>
