<div id="about_me">
    <div id="wrapper_left" class="wrapper_padding">
        <div>
            <img src="/assets/icons/location_icon.svg" alt="">
            <span>Based in Aalen</span>
        </div>
        <div>
            <img src="/assets/icons/graduation-cap.svg" alt="">
            <span>Excited to learn new skills</span>
        </div>
        <div>
            <img src="/assets/icons/remote_icon.svg" alt="">
            <span>Open to work remote</span>
        </div>
        <!-- <img src="/assets/images/yellow_paper.png" alt="">
        <img src="/assets/images/blue_paper.png" alt="">
        <img src="/assets/images/orange_paper.png" alt=""> -->

        <img src="/assets/icons/book-open.svg" alt="">
        <img src="/assets/icons/book-solid.svg" alt="">
        <img src="/assets/icons/graduation-cap.svg" alt="">
        <img src="/assets/icons/school.svg" alt="">
    </div>

    <div id="wrapper_right" class="wrapper_padding">
        <span class="overline">WHO'S BORNA?</span>
        <div id="title_div">
            <h2>About me</h2>
            <img #fade_animation_img src="/assets/images/about_me_underline.png" alt="">
        </div>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet facere esse dignissimos accusamus quidem iusto
            vitae ex blanditiis labore debitis dolor, impedit fugit libero autem vero voluptatem doloribus dolorem
            numquam!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet facere esse dignissimos accusamus quidem
            iusto
            vitae ex blanditiis labore debitis dolor, impedit fugit libero autem vero voluptatem doloribus dolorem
            numquam!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet facere esse dignissimos accusamus quidem
            iusto
            vitae ex blanditiis labore debitis dolor, impedit fugit libero autem vero voluptatem doloribus dolorem
            numquam!
            <br><br>
            Let’s collaborate and build something remarkable together!
        </p>
        <button class="the_red_button" id="lets_talk_button">Let's talk</button>
    </div>

</div>