#about_me {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#wrapper_left {
  background-color: rgba(0, 128, 0, 0.1);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  >div {
    width: 560px;
    height: 152px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    background-position: center;
    background-size: contain; /* Bild wird so angepasst, dass es komplett sichtbar ist */
    background-repeat: no-repeat;

    >img {
      width: 40px;
      height: 40px;
    }

    >span {
      font-size: 24px;
      font-weight: 400;
      padding-left: 16px;
    }
  }

  >div:nth-of-type(1) {
    background-image: url("/assets/images/yellow_paper.png");
    transform: rotate(-4deg);
    z-index: 3;
    padding-bottom: 20px;
  }

  >div:nth-of-type(2) {
    background-image: url("/assets/images/blue_paper.png");
    transform: rotate(0);
    margin-top: -68px;
    z-index: 2;
  }

  >div:nth-of-type(3) {
    background-image: url("/assets/images/orange_paper.png");
    transform: rotate(+2deg);
    margin-top: -36px;
    z-index: 1;
  }




  >img {
    width: 40px;
    height: 40px;
    background-color: black;
    padding: 8px;
  }




}


#wrapper_right {
  background-color: rgba(255, 166, 0, 0.1);
  width: 50%;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#title_div {
  position: relative;
  display: inline-block;
  padding: 10px 0px;

  >img {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;

    clip-path: inset(0 100% 100% 0);
    transition: clip-path 0.3s ease-in-out;
  }

  >.fade_animation {
    clip-path: inset(0 0 0 0);
  }


}

p{
  font-size: 20px;
  font-weight: 400;
}

#lets_talk_button {
  box-shadow: 3px 3px 1px rgb(0, 0, 0);
  border-color: black;
  border-width: 2px;
  color: black;

  &:hover {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    color: white;
  }
}