<div id="about_me">
    <div id="wrapper_left">
        <div>
            <img src="/assets/icons/location_icon.svg" alt="">
            <span>Based in Aalen</span>
        </div>
        <div>
            <img src="/assets/icons/move_location_icon.svg" alt="">
            <span>Excited to learn new skills</span>
        </div>
        <div>
            <img src="/assets/icons/remote_icon.svg" alt="">
            <span>Open to work remote</span>
        </div>
        <!-- <img src="/assets/images/yellow_paper.png" alt="">
        <img src="/assets/images/blue_paper.png" alt="">
        <img src="/assets/images/orange_paper.png" alt=""> -->
    </div>

    <div id="wrapper_right">
        <span>WHO'S BORNA?</span>
        <div id="title_div">
            <h2>About me</h2>
            <img #underline_img src="/assets/images/about_me_underline.png" alt="">
        </div>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet facere esse dignissimos accusamus quidem iusto
            vitae ex blanditiis labore debitis dolor, impedit fugit libero autem vero voluptatem doloribus dolorem
            numquam!</p>
            <button class="the_red_button" id="lets_talk_button">Let's talk</button>
    </div>

</div>