<div id="about_me_component">
    <div id="wrapper_left" class="wrapper_padding dFlex_ac_jc">
        <div class="dFlex_ac_jc">
            <img src="/assets/icons/location_icon.svg" alt="">
            <span>Based in Aalen</span>
        </div>
        <div class="dFlex_ac_jc">
            <img src="/assets/icons/graduation-cap.svg" alt="">
            <span>Excited to learn new skills</span>
        </div>
        <div class="dFlex_ac_jc">
            <img src="/assets/icons/remote_icon.svg" alt="">
            <span>Open to work remote</span>
        </div>
    </div>

    <div id="wrapper_right" class="wrapper_padding dFlex_jc">
        <span class="overline">WHO'S BORNA?</span>
        <div id="title_div">
            <h2>About me</h2>
            <img #fade_animation_img src="/assets/images/about_me_underline.png" alt="">
        </div>

        <p> Hallo, mein Name ist Borna. <br>
            Als analytischer Denker begeistert mich Programmieren, <br>weil es mir ermöglicht, logische Probleme zu lösen
            und etwas zu erschaffen,<br>
            das echten Mehrwert bietet. Die Herausforderung,<br> immer effizientere und elegantere Lösungen zu finden,<br>
            treibt mich an und inspiriert mich, kontinuierlich dazuzulernen.<br>

            Ich bin überzeugt, dass kein Wissen je verschwendet ist,<br> und strebe ständig danach, meine Fähigkeiten
            weiterzuentwickeln –<br> sei es durch neue Technologien oder durch das Lösen komplexer Aufgaben. Für mich ist
            Programmieren mehr als nur eine Tätigkeit; es ist die Möglichkeit,<br> etwas zu schaffen, das einen echten
            Unterschied macht.
            <br><br>
            Let’s collaborate and build something remarkable together!
        </p>
        <a class="the_red_button" id="lets_talk_button" href="#contact_me_component">Let's talk</a>
    </div>

</div>