#about_me_component {
  flex-direction: row;
  height: 100vh;
}

#wrapper_left {
  width: 50%;
  flex-direction: column;

  >div {
    width: 580px;
    height: 152px;
    color: white;
    background-position: center;
    background-size: contain;
    // background-size: cover;
    background-repeat: no-repeat;

    >img {
      width: 40px;
      height: 40px;
    }

    >span {
      font-size: 24px;
      font-weight: 400;
      padding-left: 16px;
    }
  }

  >div:nth-of-type(1) {
    background-image: url("/assets/images/yellow_paper.webp");
    transform: rotate(-4deg);
    z-index: 3;
    padding-bottom: 20px;
  }

  >div:nth-of-type(2) {
    background-image: url("/assets/images/blue_paper.webp");
    transform: rotate(0);
    margin-top: -68px;
    z-index: 2;
  }

  >div:nth-of-type(3) {
    background-image: url("/assets/images/orange_paper.webp");
    transform: rotate(+2deg);
    margin-top: -36px;
    z-index: 1;
  }
}


#wrapper_right {
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

#title_div {
  position: relative;
  display: inline-block;
  padding: 10px 0px;

  >img {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    clip-path: inset(0 100% 100% 0);
    transition: clip-path 0.3s ease-in-out;
  }

  >.fade_animation {
    clip-path: inset(0 0 0 0);
  }
}

p {
  font-size: 20px;
  font-weight: 400;
}

#lets_talk_button {
  box-shadow: 3px 3px 1px rgb(0, 0, 0);
  border-color: black;
  border-width: 2px;
  color: black;
  text-decoration: none;

  &:hover {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    color: white;
  }
}

// big monitor
@media(min-width: 1920px) {

  #about_me_component {
    justify-content: center;
    height: auto;
    padding: 64px;
  }

  #content_div {
    width: 1400px;
  }
}

@media (max-width: 1300px) {
  #about_me_component {
    height: 100%;
    padding-bottom: 24px;
  }
}

@media (max-width: 1140px) {

  #content_div {
    padding: 24px;
  }

  #wrapper_left {
    width: 50%;

    >div {
      width: 500px;
      height: 136px;

      >img {
        width: 32px;
        height: 32px;
      }

      >span {
        font-size: 20px;
        font-weight: 400;
        padding-left: 16px;
      }
    }
  }

  #wrapper_right {
    width: 50%;
  }

  .wrapper_padding {
    padding: 0 24px;
  }
}

@media (max-width: 850px) {
  #content_div {
    padding: 24px;
    flex-direction: column-reverse;
  }

  #wrapper_right {
    width: auto;
    flex-direction: column;
    align-items: flex-start;

    >p {
      width: auto;
    }
  }

  #lets_talk_button {
    align-items: flex-end;
  }

  #wrapper_left {
    width: auto;
    padding-top: 24px;

    >div {
      width: 560px;
      height: 152px;


      >img {
        width: 40px;
        height: 40px;
      }

      >span {
        font-size: 24px;
        font-weight: 400;
        padding-left: 16px;
      }
    }

    >div:nth-of-type(1) {
      background-image: url("/assets/images/yellow_paper.webp");
      transform: rotate(-4deg);
      z-index: 3;
      padding-bottom: 20px;
    }

    >div:nth-of-type(2) {
      background-image: url("/assets/images/blue_paper.webp");
      transform: rotate(0);
      margin-top: -68px;
      z-index: 2;
    }

    >div:nth-of-type(3) {
      background-image: url("/assets/images/orange_paper.webp");
      transform: rotate(+2deg);
      margin-top: -36px;
      z-index: 1;
    }
  }
}

@media (max-width: 675px) {
  #wrapper_left {

    >div {
      width: 480px;
      height: 140px;


      >img {
        width: 32px;
        height: 32px;
      }

      >span {
        font-size: 20px;
        font-weight: 400;
        padding-left: 16px;
      }
    }
  }
}

@media (max-width: 620px) {
  #wrapper_left {
    >div {
      width: 343px;
      height: 128px;
      color: white;

      >span {
        font-size: 16px;
      }
    }

    >div:nth-of-type(1) {
      padding-bottom: 16px;
    }

    >div:nth-of-type(2) {
      margin-top: -75px;
    }

    >div:nth-of-type(3) {
      margin-top: -56px;
      padding-bottom: 12px;
    }
  }
}

// Mobile
@media (max-width: 460px) {

  .wrapper_padding {
    padding: 0;
  }

  #content_div {
    height: 100%;
    padding: 24px;
  }

  #wrapper_right {
    width: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  #wrapper_left {
    >div {
      width: 320px;
      height: 120px;
      color: white;

      >span {
        font-size: 16px;
      }
    }

    >div:nth-of-type(1) {
      padding-bottom: 16px;
    }

    >div:nth-of-type(2) {
      margin-top: -75px;
    }

    >div:nth-of-type(3) {
      margin-top: -56px;
      padding-bottom: 12px;
    }
  }
}



@media (max-width: 450px) {

  #content_div {
    padding: 24px;
  }

  #wrapper_left {
    >div {
      width: 280px;
      height: 110px;
      padding: 0;

      >img {
        width: 32px;
        height: 32px;
      }

      >span {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 380px) {

  #wrapper_left {
    >div {
      width: 250px;
      height: 110px;
      padding: 0;

      >img {
        width: 24px;
        height: 24px;
      }

      >span {
        font-size: 10px;
      }
    }

    >div:nth-of-type(2) {
      margin-top: -80px;
    }

    >div:nth-of-type(3) {
      margin-top: -68px;
      padding-bottom: 8px;
    }
  }
}