#start_screen {
    height: 100vh;
    // width: 100%;

    background-image: url('/assets/images/Hero_background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;

    >button {
        font-size: 20px;
        padding: 10px 20px;
        white-space: nowrap; /* Verhindert Zeilenumbrüche */
        display: inline-block;
        
        width: max-content;
        transition: transform 0.4s ease-in-out; /* Sanfter Übergang */

        &:hover {
            width: min-content;
        }
    }



// #hello_button {
//     font-size: 20px;
//     padding: 10px 20px;
//     white-space: nowrap;
//     display: inline-block;
//     border: none;
//     color: white;
//     cursor: pointer;
//     text-align: center;
//     overflow: hidden;

//     transition: clip-path 0.4s ease-in-out, width 0.4s ease-in-out, padding 0.4s ease-in-out;

//     // transition: width 0.4s ease-in-out, padding 0.4s ease-in-out;
//     width: 140px; /* Standard-Breite */

//     // transition: clip-path 0.5s ease-in-out; /* "Vorhang"-Effekt animieren */
//     clip-path: inset(50% 50% 50% 50%);

//     &:hover {
//         width: 220px; /* Vergrößert sich beim Hover */
//         background-color: #007bff;

//         clip-path: inset(100% 100% 100% 100%);
//     }
// }

#hello_button {

    font-size: 20px;
    padding: 10px 20px;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    width: 140px;
    position: relative;

    border: 2px solid white;
    border-radius: 25px;



    &::after {
        content: "I'M Borna Kitak"; /* Neuer Text */
        
        position: absolute;
        text-align: left;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid white;
        border-radius: 25px;

        background-color: #007bff;
        color: white;
        clip-path: inset(0% 50% 0% 50%);
        // transition: clip-path 0.3s ease-in-out;
        transition: clip-path 0.3s ease-in-out, width 0.3s ease-in-out, padding 0.4s ease-in-out;
    }

    &:hover {
        width: 190px; /* Vergrößert den Button */
    }

    &:hover::after {
        clip-path: inset(0 0 0 0); /* Öffnet sich von der Mitte nach außen */
    }
}








}

h1 {
    color: white;
}

#my_picture {
    height: 300px;
    width: 300px;
}

.social_icons {
    display: flex;
    flex-direction: column;

    >img {
        height: 40px;
        width: 40px;
    }
}