<div id="start_screen">
    <app-header></app-header>

    <!-- <button id="hello_button" (mouseover)="changeText()" (mouseout)="resetText()">
        {{ buttonText }}
    </button> -->

    <button id="hello_button">Hello world</button>


    <h1>Frontend <br> Developer</h1>

    <img id="my_picture" src="/assets/images/Photoframe.png" alt="">

    <button>Get in Touch</button>

    <div class="social_icons">
        <img src="/assets/icons/linkedin-icon.svg" alt="">
        <img src="/assets/icons/github-icon.svg" alt="">
        <img src="/assets/icons/e.mail-icon.svg" alt="">
    </div>

</div>