
<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="dFlex">

  <!-- Name -->
  <div class="input_div dFlex">
    <label for="name">{{ getText('nameLabel') }}</label>
    <input [(ngModel)]="contactData.name" type="text" id="name" name="name" required
      pattern="^[A-Za-zÄÖÜäöüß\s-]{2,20}$" #name="ngModel" [placeholder]="getText('namePlaceholder')" />
    <div class="error" *ngIf="name.invalid && name.touched">
      {{ getText('nameError') }}
    </div>
  </div>

  <!-- Email -->
  <div class="input_div dFlex">
    <label for="email">{{ getText('emailLabel') }}</label>
    <input [(ngModel)]="contactData.email" type="email" id="email" name="email" required
      pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" #email="ngModel" [placeholder]="getText('emailPlaceholder')" />
    <div class="error" *ngIf="email.invalid && email.touched">
      {{ getText('emailError') }}
    </div>
  </div>

  <!-- Message -->
  <div class="input_div dFlex">
    <label for="message">{{ getText('messageLabel') }}</label>
    <textarea #autoTextarea [(ngModel)]="contactData.message" id="message" name="message" required minlength="10"
      maxlength="1000" pattern="[\s\S]*\S[\s\S]*" #message="ngModel" (input)="autoResize(autoTextarea)"
      [placeholder]="getText('messagePlaceholder')"></textarea>

    <div class="error" *ngIf="message.invalid && message.touched">
      {{ getText('messageError') }}
    </div>
    <div class="error" *ngIf="message.errors?.['minlength'] && message.touched">
      {{ getText('minLengthError') }}
    </div>
    <div class="error" *ngIf="message.errors?.['pattern'] && message.touched">
      {{ getText('patternError') }}
    </div>
    <div class="char-count" *ngIf="message.value?.length">
      {{ message.value.length }}/1000 {{ getText('charCount') }}
      <span *ngIf="message.value.length == 1000" class="error">
        {{ getText('maxLengthError') }}
      </span>
    </div>
  </div>

  <!-- Datenschutz -->
  <div class="checkbox_div dFlex_ac">
    <input type="checkbox" id="privacy" required #privacy="ngModel" name="privacy" [(ngModel)]="contactData.privacy" />
    <label for="privacy">
      {{ getText('checkboxText') }} <a routerLink="/privacyPolicy">{{ getText('toAccept') }}</a>.
    </label>
  </div>

  <!-- Senden-Button -->
  <button type="submit" class="the_red_button send_button" [disabled]="!contactForm.valid">
    {{ getText('sendButton') }}
  </button>


  
   <!-- <button (click)="markFormAsTouched(contactForm)">test</button> -->
</form>
