<div id="input_infos">
    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="dFlex">

        <!-- Name -->
        <div class="input_div dFlex">
            <label for="name">What's your name?</label>
            <input [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Your name goes here" required/>
            <!-- <div class="error" *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched">
                Please enter a valid name (Letters, "-" and spaces only).
            </div> -->
        </div>

        <!-- Email -->
        <div class="input_div dFlex">
            <label for="email">What's your email?</label>
            <input [(ngModel)]="contactData.email" type="email" id="email" name="email" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" placeholder="youremail@email.com" required/>
            <!-- <div class="error" *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">
                Please enter a valid email address.
            </div> -->
        </div>

        <!-- Message -->
        <div class="input_div dFlex">
            <label for="message">How can I help you?</label>
            <textarea #message="ngModel" [(ngModel)]="contactData.message" id="message" name="message" placeholder="Hello Borna, I am interested in..." required
                #autoTextarea maxlength="1000" (input)="autoResize(autoTextarea)">
        </textarea>

            <!-- <div class="error" *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched">
                Please enter a valid message.
            </div>

            <div class="error"
                *ngIf="contactForm.get('message')?.errors?.['minlength'] && contactForm.get('message')?.touched">
                Please write at least 10 characters.
            </div>

            <div class="error"
                *ngIf="contactForm.get('message')?.errors?.['pattern'] && contactForm.get('message')?.touched">
                Message can't be only spaces.
            </div> -->

            <!-- <div class="char-count" *ngIf="contactForm.get('message')?.value?.length">
                {{ contactForm.get('message')?.value.length }}/1000 characters
                <span *ngIf="contactForm.get('message')?.value.length == 1000" class="error">
                    Your message is too long. Max 1000 characters.
                </span>
            </div> -->
        </div>

        <!-- Datenschutz -->
        <div class="checkbox_div dFlex_ac">
            <input type="checkbox" id="privacy"/>
            <label for="privacy">
                I agree to the <a href="/privacy-policy" target="_blank">privacy policy</a>.
            </label>
        </div>

        <!-- Senden-Button -->
        <button type="submit" class="the_red_button send_button">
            Send
        </button>
    </form>

    <!-- overlay for message_confirmation -->
    <div id="message_confirmation" class="dFlex_ac_jc d_none" #confirmationBox>
        <span>Thank you very much for your message.</span>
        <span>I will get back to you as soon as possible.</span>
        <span>Have a nice day :D</span>
    </div>
</div>