#comments-about-me {
    // height: 100vh;

    // width: 100%;
    // margin-top: 80px;
    // margin-bottom: 80px;
    margin: 80px;

    >#title {
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        >#overline_div {
            display: flex;
            align-items: center;
            justify-content: center;

            >img {
                width: 100px;
                height: 36px;
                clip-path: inset(0 0 0 100%);
                ;
                transition: clip-path 0.3s ease-in-out;
            }

            >.fade_animation {
                clip-path: inset(0 0 0 0);
            }
        }
    }
}

#thoughts {
    width: 100%;
    // height: 500px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;

    margin-top: 64px;

    >img {
        width: 400px;
        height: 300px;
    }

    >app-thoughts:nth-of-type(1) {
        transform: rotate(-7deg);
        margin-right: -200px;
        z-index: 3;
    }

    >app-thoughts:nth-of-type(2) {
        // transform: rotate(0);

        z-index: 2;
    }

    >app-thoughts:nth-of-type(3) {
        transform: rotate(+7deg);

        margin-left: -200px;
        z-index: 1;
    }

    >.hover_effect {
        &:hover {
            z-index: 5;
        }
    }
}