<div class="big_monitor_positioning">
  <div id="comments_about_me_component">
    <div id="title" class="dFlex">
      <div id="overline_div" class="dFlex_ac_jc">
        <img #fade_animation_img src="/assets/images/blue_arrow.png" alt="">
        <span class="overline">{{ getText('overline') }}</span>
      </div>
      <h2>{{ getText('title') }}</h2>
    </div>

    <div id="thoughts" class="dFlex_jc">
      <app-thoughts class="hover_effect" *ngFor="let thought of thoughts" [thought]="thought"></app-thoughts>
    </div>
  </div>
</div>
