    // .big_monitor_positioning {
    //     width: 100%;
    //     display: flex;
    //     justify-content: center;
    // }

#comments_about_me_component {
    // width: 100%;
    margin-bottom: 80px;
    padding: 64px;

    >#title {
        width: 100%;
        align-items: flex-end;
        flex-direction: column;

        >#overline_div {
            >img {
                width: 100px;
                height: 36px;
                clip-path: inset(0 0 0 100%);
                transition: clip-path 0.3s ease-in-out;
            }

            >.fade_animation {
                clip-path: inset(0 0 0 0);
            }
        }
    }
}

#thoughts {
    width: 100%;
    flex-direction: row;
    gap: 32px;
    margin-top: 64px;

    >img {
        width: 400px;
        height: 300px;
    }

    >app-thoughts:nth-of-type(1) {
        transform: rotate(-7deg);
        margin-right: -200px;
        z-index: 3;
    }

    >app-thoughts:nth-of-type(2) {
        z-index: 2;
    }

    >app-thoughts:nth-of-type(3) {
        transform: rotate(+7deg);
        margin-left: -200px;
        z-index: 1;
    }

    >.hover_effect {
        &:hover {
            z-index: 5;
        }
    }
}

// _____________________________________________________

@media (max-width: 850px) {
    #comments_about_me_component {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        padding: 24px;

        >#title {
            >#overline_div {
                >img {
                    clip-path: inset(0 0 0 0);
                }
            }
        }
    }

    #thoughts {
        flex-direction: column;
        align-items: center;
        gap: 0px;
        margin-top: 24px;

        >app-thoughts:nth-of-type(1) {
            margin-right: 0;
        }

        >app-thoughts:nth-of-type(2) {}

        >app-thoughts:nth-of-type(3) {
            margin-left: 0;
        }

        >.hover_effect {
            &:hover {
                z-index: 5;
            }
        }
    }
}

// big monitor
@media(min-width: 1920px) {
    .big_monitor_positioning {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    #comments_about_me_component {
        width: 1400px;
    }
}
