#hero_screen {
    height: 100vh;
    width: 100%;

    background-image: url('/assets/images/Hero_background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#header_component {
    width: 100%;
}

#central_div {
    // background-color: rgba(127, 255, 212, 0.421);
    width: 65%;
    display: flex;
    flex-direction: column;
    position: relative;

    padding-top: 100px;

    >#hello_div {
        display: flex;
        align-items: flex-end;
        // justify-content: flex-start;
        flex-direction: column;

        background-color: rgba(255, 166, 0, 0.419);

        width: 140px;
        transition: width 0.4s ease-in-out;

        &:hover {
            width: 190px;
            transform-origin: left;

        }
    }

    .waving_hand {
        background-color: aqua;
        transform: rotate(-180deg);
        transition: transform 0.4s ease-in-out;

        &:hover {
            transform: rotate(12deg) translateX(50px);
        }
    }

}

button {
    font-size: 20px;
    padding: 10px 20px;
    white-space: nowrap;
    /* Verhindert Zeilenumbrüche */
    cursor: pointer;

    border: 1px solid white;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}



#hello_button {
    font-size: 18px;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    width: 140px;
    position: relative;
    overflow: hidden;
    transform-origin: left;
    transition: width 0.4s ease-in-out;

    >span {
        position: relative;
        z-index: 2;
        color: white;
    }

    &::after {
        content: "I'M Borna Kitak";
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        transform-origin: left;
        border-radius: 25px;
        background-color: #007bff;
        clip-path: inset(0% 50% 0% 50%);
        transition: clip-path 0.4s ease-in-out;
        z-index: 3;
    }

    &:hover {
        width: 190px;
    }

    &:hover::after {
        clip-path: inset(0% 0% 0% 0%);
        animation: edgeBounce 0.6s ease-out;
        animation-delay: 0.4s; // <<<<< Verzögerung!
        animation-fill-mode: both; // <- wichtig, damit es sichtbar bleibt
    }
}

@keyframes edgeBounce {
    0% {
        transform: scaleX(1);
    }

    25% {
        transform: scaleX(1.1);
    }

    45% {
        transform: scaleX(0.97);
    }

    65% {
        transform: scaleX(1.05);
    }

    80% {
        transform: scaleX(0.995);
    }

    100% {
        transform: scaleX(1.0);
    }
}

h1 {
    color: white;
    font-size: 112px;
    margin: 0;
    padding: 12px 0;
}

#h1_first {
    display: flex;
    flex-direction: row;
}

#h1_second {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
}

.letter_to_low {
    transition: text-transform 2.0s ease;
    /* Smooth transition */
}

.letter_to_low:hover {
    color: #f7c518;
    text-transform: lowercase;
    /* Ändert den Text zu Kleinbuchstaben beim Hover */
}

.letter_to_high {
    transition: text-transform 2.0s ease;
    /* Smooth transition */
}

.letter_to_high:hover {
    color: #f7c518;
    text-transform: uppercase;
    /* Und hier das Gegenteil */
}



#my_picture {
    height: 240px;
    width: 200px;

    position: absolute;
    top: 24px;
    right: 8px;
}

#get_in_touch_button {
    align-self: flex-end;
}

.social_icons {
    display: flex;
    flex-direction: column;
    align-self: flex-start;

}