<div id="hero_screen">

    <app-header id="header_component"></app-header>

    <div id="central_div">
        <div id="hello_div">
            <img src="/assets/icons/waving_hand.png" alt="">
            <button id="hello_button">Hello world</button>
        </div>

        <div id="h1_first">
            <h1 class="letter_to_low">F</h1>
            <h1 class="letter_to_high">r</h1>
            <h1 class="letter_to_high">o</h1>
            <h1 class="letter_to_high">n</h1>
            <h1 class="letter_to_high">t</h1>
            <h1 class="letter_to_high">e</h1>
            <h1 class="letter_to_high">n</h1>
            <h1 class="letter_to_high">d</h1>
        </div>

        <div id="h1_second">
            <h1 class="letter_to_low">D</h1>
            <h1 class="letter_to_high">e</h1>
            <h1 class="letter_to_high">v</h1>
            <h1 class="letter_to_high">e</h1>
            <h1 class="letter_to_high">l</h1>
            <h1 class="letter_to_high">o</h1>
            <h1 class="letter_to_high">p</h1>
            <h1 class="letter_to_high">e</h1>
            <h1 class="letter_to_high">r</h1>

        </div>

        <button id="get_in_touch_button">Get in Touch</button>

        <img id="my_picture" src="/assets/images/Photoframe.png" alt="">
    </div>



    <div class="social_icons">
        <img src="/assets/icons/linkedin-icon.svg" alt="">
        <img src="/assets/icons/github-icon.svg" alt="">
        <img src="/assets/icons/e.mail-icon.svg" alt="">
    </div>

</div>