<div id="hero_screen">

  <app-header id="header_component"></app-header>

  <div id="central_div">
    <div id="hello_div">
      <img class="waving_hand" src="/assets/icons/waving_hand.png" alt="">

      <button id="hello_button">
        <span>Hello World</span>
      </button>
    </div>

    <div id="h1_first">
      <span class="letter-pair" *ngFor="let letter of getLetters(this.firstLine_normal, this.firstLine_transformed)">
        <span class="stack">
          <span class="normal">{{ letter.normal }}</span>
          <span class="transformed">{{ letter.transformed }}</span>
        </span>
      </span>
    </div>

    <div id="h1_second">
      <span class="letter-pair" *ngFor="let letter of getLetters(this.secondLine_normal, this.secondLine_transformed)">
        <span class="stack">
          <span class="normal">{{ letter.normal }}</span>
          <span class="transformed">{{ letter.transformed }}</span>
        </span>
      </span>
    </div>







    <!-- <div id="h1_second">
            <ng-container *ngFor="let letter of getLetter(secondLine_normal); let i = index">
              <h1 [ngClass]="i === 0 ? 'letter_to_low' : 'letter_to_high'">{{ letter }}</h1>
            </ng-container>
          </div> -->



    <button id="get_in_touch_button">Get in Touch</button>

    <img id="my_picture" src="/assets/images/Photoframe.png" alt="">
  </div>

  <div class="social_icons">
    <img src="/assets/icons/linkedin-icon.svg" alt="">
    <img src="/assets/icons/github-icon.svg" alt="">
    <img src="/assets/icons/e.mail-icon.svg" alt="">
  </div>

</div>