#hero_component {
    height: 100vh;
    background-image: url('/assets/images/Hero_background.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex-direction: column;
    position: relative;
}

#header_component {
    width: 100%;
}

#central_div {
    width: 55%;
    flex-direction: column;
    position: relative;

    padding: 64px 64px 0 64px;
    padding-bottom: 0;

    >#hello_div {
        align-items: flex-end;
        flex-direction: column;
        width: 140px;
        transition: width 0.4s ease-in-out;

        &.hovered {
            width: 190px;
        }
    }
}

#hello_button {
    font-size: 18px;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    cursor: default;
    width: 140px;
    position: relative;
    overflow: hidden;
    transform-origin: left;
    transition: width 0.4s ease-in-out;

    >span {
        position: relative;
        z-index: 2;
        color: white;
    }

    &::after {
        content: "I'M Borna Kitak";
        position: absolute;
        inset: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 1px solid white;
        transform-origin: left;
        border-radius: 25px;
        background-color: #007bff;
        clip-path: inset(0% 50% 0% 50%);
        transition: clip-path 0.4s ease-in-out;
        z-index: 3;
    }

    &:hover {
        width: 190px;
    }

    &:hover::after {
        clip-path: inset(0% 0% 0% 0%);
    }
}

#hello_button.hovered {
    width: 190px !important;
}

#hello_button.hovered::after {
    clip-path: inset(0% 0% 0% 0%) !important;
}

h1 {
    color: white;
    font-size: 112px;
    margin: 0;
    padding: 12px 0;
}

//  --  main headline  --
#h1_first,
#h1_second {
    font-weight: bold;
}

#h1_second {
    align-self: flex-end;
}

.letter-pair {
    position: relative;
    display: inline-block;
    width: auto;
}

.stack {
    display: grid;
    place-items: center;
    position: relative;
    width: auto;
    height: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;

    >span {
        grid-area: 1 / 1;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
}

.normal {
    opacity: 1;
    z-index: 1;
    color: white;
    font-size: 112px;
    font-weight: 700;
    margin: 0;

}

.transformed {
    opacity: 0;
    z-index: 2;
    display: none;
    color: #f7c518;
    font-size: 112px;
    font-weight: 700;
    margin: 0;
}

.letter-pair:hover .normal {
    opacity: 0;
}

.letter-pair:hover .transformed {
    opacity: 1;
    display: block;
}

#get_in_touch_button {}

#my_picture {
    height: 244px;
    width: calc(0.75 * 244px);
    position: absolute;
    top: 10%;
    right: 8px;
    background-color: white;
    flex-direction: column;
    transform: rotate(+7deg);

    >img {
        height: 170px;
        width: calc(0.75 * 170px);
        padding: 8px;
        filter: grayscale(100%);
    }

    >span {
        padding: 4px;
        font-weight: 700;
        font-size: 24px;
        font-family: 'Kalam', sans-serif;
    }

    &:hover {
        >img {
            filter: grayscale(0%);
        }
    }
}

.social_icons {
    position: absolute;
    left: 64px;
    bottom: 80px;
    flex-direction: column;
    align-self: flex-start;
    gap: 4px;

    >a {
        >img {
            border-radius: 50%;
            transition: background-color 0.5s ease;

            &:hover {
                background-color: #3355FF;
            }
        }
    }
}

// --  Media Queries  --

// big monitor
@media (min-width: 1920px) {

    #header_component {
        width: 1400px;
    }

    #central_div {
        width: 1000px;
    }

    .big_screen_div {
        width: 1200px;
        margin-top: 100px;
    }

    .social_icons {
        position: relative;
        bottom: 0;
        flex-direction: column;
        align-self: flex-start;
        gap: 4px;

        >a {
            >img {
                border-radius: 50%;
                transition: background-color 0.5s ease;

                &:hover {
                    background-color: #3355FF;
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    #central_div {
        width: 70%;
    }
}

@media (max-width: 930px) {
    #central_div {
        width: 80%;
        padding: 32px 32px 0 32px;
    }

    #my_picture {
        height: 230px;
        width: calc(0.75 * 230px);
        top: 8%;
        right: 4px;

        >img {
            height: 160px;
            width: calc(0.75 * 160px);
        }
    }
}


@media (max-width: 900px) {
    #h1_second {
        align-self: flex-start;
    }
}

@media (max-width: 850px) {

    .normal {
        font-size: 80px;
    }

    .transformed {
        font-size: 96px;
    }

    #my_picture {
        height: 230px;
        width: calc(0.75 * 230px);

        >img {
            height: 160px;
            width: calc(0.75 * 160px);
        }
    }
}

// tablets
@media screen and (min-width: 720px) and (max-width: 1028px) and (orientation: portrait) {
    #central_div {
        padding-top: 92px;
    }

    #my_picture {
        height: 280px;
        width: calc(0.75 * 280px);
        top: 8%;
        right: 4px;

        >img {
            height: 200px;
            width: calc(0.75 * 200px);
        }
    }

    .social_icons {
        bottom: 120px;

        >a {
            >img {
                width: 64px;
                height: 64px;
            }
        }
    }
}

@media (max-width: 700px) {

    #hero_component {
        height: 100%;
    }

    #central_div {
        padding-top: 0px;
        padding-bottom: 80px;
    }

    #my_picture {
        position: relative;
        display: flex;
        align-self: center;
        bottom: 10%;
    }
}

@media (max-width: 670px) {

    #h1_second {
        margin-bottom: 16px;
    }

    #my_picture {
        margin-top: 40px;
        bottom: 10%;
    }
}

// Mobile
@media (max-width: 470px) {

    #central_div {
        height: 100%;
        padding: 8px 24px 0 24px;
        gap: 24px;

        >#hello_div {
            margin-left: 24px;
        }
    }

    .normal {
        font-size: 64px;
    }

    .transformed {
        font-size: 64px;
    }

    #my_picture {
        position: relative;
        display: flex;
        align-self: auto;
        height: 260px;
        width: calc(0.75 * 260px);
        left: 50%;
        margin-bottom: 72px;
        transform: translateX(-50%) rotate(7deg);

        >img {
            height: 200px;
            width: calc(0.75 * 200px);
            padding: 8px;
            filter: grayscale(0%);
        }

        >span {
            padding: 0px;
        }

        &:hover {
            >img {
                filter: grayscale(0%);
            }
        }
    }

    .social_icons {
        position: absolute;
        left: 64px;
        bottom: 80px;
        flex-direction: column;
        align-self: flex-start;
        gap: 4px;
        display: none;

        >a {
            >img {
                border-radius: 50%;
                transition: background-color 0.5s ease;
            }
        }
    }
}

@media (max-width: 450px) {
    #hero_component {
        height: 100%;
    }

    h1 {
        color: white;
        font-size: 100px;
        margin: 0;
        padding: 12px 0;
    }

    .normal {
        font-size: 56px;
    }

    .transformed {
        font-size: 56px;
    }

    .big_screen_div {
        display: none;
    }
}

@media (max-width: 340px) {
    .normal {
        font-size: 48px;
    }

    .transformed {
        font-size: 48px;
    }
}