

<div id="header">

    <img src="/assets/images/bk_logo.jpg" alt="">

    <a class="nav-link">
        about me
        <img class="hover_top_to_bottom" src="/assets/images/header_img/about_me_frame.png" alt="">
    </a>
    <a class="nav-link">
        skills
        <img class="hover_left_to_right" src="/assets/images/header_img/skills_frame.png" alt="">
    </a>
    <a class="nav-link">
        projects
        <img class="hover_left_to_right" src="/assets/images/header_img/projects_frame.png" alt="">
    </a>
    <a class="nav-link">
        contact
        <img class="hover_left_to_right" src="/assets/images/header_img/contact_frame.png" alt="">
    </a>

    <span>sprache umstellen</span>
</div>
