

<div id="header">

    <a href="#hero_component" (click)="emitCloseOverlay()">
        <img id="header_logo" src="/assets/images/bk_logo_2.png" alt="">
    </a>
    

    <a class="nav-link" href="#about_me_component" (click)="emitCloseOverlay()">
        About me
        <img class="hover_top_to_bottom" src="/assets/images/header_img/about_me_frame.png" alt="">
    </a>
    <a class="nav-link" href="#skill_set_component" (click)="emitCloseOverlay()">
        Skills
        <img class="hover_left_to_right" src="/assets/images/header_img/skills_frame.png" alt="">
    </a>
    <a class="nav-link" href="#projects_component" (click)="emitCloseOverlay()">
        Projects
        <img class="hover_left_to_right" src="/assets/images/header_img/projects_frame.png" alt="">
    </a>
    <a class="nav-link" href="#contact_me_component" (click)="emitCloseOverlay()">
        Contact
        <img class="hover_left_to_right" src="/assets/images/header_img/contact_frame.png" alt="">
    </a>

    <span class="nav-link">sprache umstellen</span>
</div>
