

<div id="projects_component">
  <div id="title_div" class="dFlex">
    <span class="overline">MY Craft</span>
    <div id="title">
      <h2>Projects</h2>
      <img #fade_animation_img src="/assets/images/projects_underline.png" alt="">

    </div>
    <p>Encourage people to take a look and interact with your projects.
      Highlight your approach to creating responsive, user-friendly projects with efficient code.</p>
  </div>

  <!-- Liste der Projekte -->
  <app-project-div *ngFor="let project of projects; let i = index" 
  [project]="project" 
  [class.highlighted]="i === 0"
  (click)="openDetails(project, i)">
  <!-- code drunter wenn es nur über den button geöffnet werden soll - anpassung auch in project-div- html und ts -->
  <!-- (openDetailsEvent)="openDetails(project, i)"> -->
</app-project-div>

</div>

<!-- Project-Details Overlay -->
<app-project-details
  *ngIf="isDetailsOpen"
  [project]="selectedProject"
  [isOpen]="isDetailsOpen"
  [currentIndex]="selectedIndex"
  [projects]="projects"
  (closeDetails)="closeDetails()"
  (changeProject)="changeProject($event)">
</app-project-details>

