

<div id="projects_component">
  <div id="title_div" class="dFlex">
    <span class="overline">MY Craft</span>
    <div id="title">
      <h2>Projects</h2>
      <img #fade_animation_img src="/assets/images/projects_underline.png" alt="">

    </div>
    <p>Encourage people to take a look and interact with your projects.
      Highlight your approach to creating responsive, user-friendly projects with efficient code.</p>
  </div>

  <app-project-div *ngFor="let project of projects; let i = index" [project]="project" [class.highlighted]="i === 0">
  </app-project-div>

</div>
