<!-- <div id="projects_component">
  <div id="title">
    <h3>MY Craft</h3>
    <h2>Projects</h2>
    <p>Encourage people to take a look and interact with your projects.
      Highlight your approach to creating responsive, user-friendly projects with efficient code.</p>
  </div>


  <div id="projects">
    <app-project-div *ngFor="let project of projects" [project]="project">
    </app-project-div>
  </div>


</div> -->


<div id="projects_component">
  <div id="title">
    <h3>MY Craft</h3>
    <h2>Projects</h2>
    <p>Encourage people to take a look and interact with your projects.
      Highlight your approach to creating responsive, user-friendly projects with efficient code.</p>
  </div>
  
  <app-project-div
  *ngFor="let project of projects; let i = index"
  [project]="project"
  [class.highlighted]="i === 0">
</app-project-div>

<!-- 
  <app-project-div *ngIf="projects[0]" [project]="projects[0]" class="highlighted"></app-project-div>


  <div id="projects">
    <app-project-div *ngFor="let project of projects.slice(1)" [project]="project"></app-project-div>
  </div> -->

</div>
