#contact_me_component {
    height: 100%;
    background-image: url('/assets/images/contact-me_background.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    padding: 64px 64px 0 64px;
    padding-top: 120px;
    flex-direction: column;

    >#contact_me_div {
        justify-content: space-between;
        position: relative;
    }
}

#text_div {
    width: 50%;
    flex-direction: column;

    >p {
        font-weight: 400;
        font-size: 18px;
    }

    >img {
        width: 280px;
        height: 40px;
        clip-path: inset(0 100% 0 0);
        transition: clip-path 0.3s ease-in-out;
        align-self: flex-end;
        padding-top: 24px;
    }

    >.fade_animation {
        clip-path: inset(0 0 0 0);
    }
}

// ab hier rechter part

.width100 {
    width: 100%;
}

#input_infos {
    padding-top: 96px;
    position: relative;
    width: 40%;
    display: flex;
    align-items: center;

    >a {
        >img {
            position: absolute;
            right: 5%;
            top: 0%;
            width: 120px;
            height: 120px;
            transform: rotate(+10deg);
            align-self: flex-end;
            background-color: white;
        }
    }
}

//________________________________________________

// big monitor
@media (min-width: 1920px) {
    #contact_me_component {
        height: 100vh;
        align-items: center;
        justify-content: center;

        >#contact_me_div {
            width: 1400px;
            margin-top: 128px;
        }
    }

    .footer {
        width: 1400px;
    }
}

@media (max-width: 450px) {
    #contact_me_component {
        padding-top: 100px;
        padding: 24px;
        background-size: cover;

        >#contact_me_div {
            padding-top: 200px;
            flex-direction: column;
        }
    }

    #text_div {
        width: 100%;

        >img {
            width: 153px;
            height: 24px;
            clip-path: inset(0 0 0 0);
            position: absolute;
            left: 10%;
            bottom: 0;

        }
    }

    #input_infos {
        padding-top: 16px;
        position: static;
        width: 100%;

        >a{
        >img {
            position: absolute;
            right: 5%;
            top: 10%;
            width: 100px;
            height: 100px;
            transform: rotate(+10deg);
            align-self: flex-end;
            background-color: white;
        }
    }
    }
}

@media (max-width: 380px) {
    #text_div {
        >img {
            width: 120px;
        }
    }
}

