<div id="contact_me_component" class="dFlex">

    <div id="contact_me_div">


        <div id="text_div" class="dFlex">
            <span class="overline">CONTACT ME</span>
            <h2>Ready to work togehter?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab necessitatibus quis, culpa mollitia odit
                amet et
                iure autem, quam ad rem consequatur. Consequatur id odit ipsa laborum architecto ratione tenetur.</p>
            <img #fade_animation_img src="/assets/images/contact_me_arrow.png" alt="">
        </div>

        <div id="input_infos">

            <img src="/assets/images/bk_logo.jpg" alt="">

            <div class="input_div dFlex">
                <span>Whats youre name?</span>
                <input type="text" placeholder="Your name goes here">
            </div>

            <div class="input_div dFlex">
                <span>Whats youre email?</span>
                <input type="text" placeholder="youremail@email.com">
            </div>

            <div class="input_div dFlex">
                <span>How can i help you?</span>
                <input type="text" placeholder="Hello Borna, i am interesstetd in...">
            </div>

            
            checkbox for privacypolicy

            <span>checkbox to agree</span>
            <button class="the_red_button">send</button>
        </div>
    </div>

    <div class="spaceholder"></div>

    <app-footer class="footer_positioning"></app-footer>
</div>