<div id="contact_me_component" class="dFlex">
  <div id="contact_me_div" class="dFlex">
    <div id="text_div" class="dFlex">
      <span class="overline">{{ getText('overline') }}</span>
      <h2>{{ getText('headline') }}</h2>
      <p>{{ getText('paragraph') }}</p>
      <img #fade_animation_img src="/assets/images/contact_me_arrow.png" alt="">
    </div>

    <!-- Formularbereich -->
    <div id="input_infos">
      <img src="/assets/images/bk_logo_2.png" alt="">
      <app-contactform class="width100"></app-contactform>
    </div>
  </div>
  <div class="spaceholder"></div>

  <app-footer [form]="contactForm" class="footer"></app-footer>
</div>
