<div id="skill_set_screen">

    <div id="title_and_description">
        <div id="whole_title">
            <h3>MY Stack</h3>
            <div id="big_title">
                <h2>Skill set</h2>
                <img src="/assets/images/skill_set_frame.png" alt="">

            </div>
          
        </div>
        <div id="description">
            <img src="/assets/images/white_paper.png" alt="">
        </div>
    </div>

    <div id="skills">
        <div class="skill" *ngFor="let skill of skills">
            <img [src]="skill.img" [alt]="skill.name">
            <span [innerHTML]="skill.name.replace(' ', '<br>')"></span>
        </div>
    </div>