main {
    background-image: url('/assets/images/neutral_background.webp');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 0 64px;
    flex-direction: column;
    height: 100%;
}

h1 {
    font-weight: 700;
    font-size: 64px;
    margin: 48px 0;
    word-break: break-word;
}

h2 {
    font-size: 32px;
    margin-top: 48px;
    margin-bottom: 16px;
}

p {
    font-weight: 400;
    font-size: 16px;
}

a {
    color: rgb(46, 97, 217);
}

@media(min-width: 1920px) {
    main {
        align-items: center;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 48px;
        margin: 40px 0;
    }

    h2 {
        font-size: 24px;
        margin-top: 40px;
        margin-bottom: 12px;
    }
}

@media (max-width: 450px) {

    h1 {
        font-size: 40px;
        margin: 32px 0;
    }

    h2 {
        font-size: 24px;
        margin-top: 32px;
        margin-bottom: 12px;
    }
}