<main class="impressum dFlex">

  <app-header></app-header>

  <h1>Impressum</h1>

  <p><strong>Angaben gemäß § 5 TMG</strong><br>
    Borna Kitak<br>
    Alte Heidenheimerstraße 119<br>
    73431 Aalen</p>

  <p><strong>Kontakt</strong><br>
    Telefon: +49 0175 1417789<br>
    E-Mail: kitak.borna&#64;gmail.com</p>

  <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</strong><br>
    Borna Kitak<br>
    Alte Heidenheimerstraße 119<br>
    73431 Aalen</p>

  <h2>Haftung für Inhalte</h2>
  <p>Als Diensteanbieter bin ich gemäß § 7 Abs. 1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen
    verantwortlich...</p>

  <h2>Haftung für Links</h2>
  <p>Mein Angebot enthält Links zu externen Webseiten Dritter...</p>

  <h2>Urheberrecht</h2>
  <p>Die durch den Seitenbetreiber erstellten Inhalte und Werke auf dieser Website unterliegen dem deutschen
    Urheberrecht...</p>

  <h2>EU-Streitschlichtung</h2>
  <p>Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a
      href="https://ec.europa.eu/consumers/odr" target="_blank"
      rel="noopener noreferrer">https://ec.europa.eu/consumers/odr</a>
  </p>
  <p>Ich bin nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
    teilzunehmen.</p>

  <app-footer></app-footer>
</main>