<main class="impressum dFlex">
  <app-header></app-header>

  <h1>{{ getText('heading') }}</h1>

  <p><strong>{{ getText('address') }}</strong><br>
    Borna Kitak<br>
    Alte Heidenheimerstraße 119<br>
    73431 Aalen</p>

  <p><strong>{{ getText('contact') }}</strong><br>
    Telefon: +49 0175 1417789<br>
    E-Mail: kitak.borna&#64;gmail.com</p>

  <p><strong>{{ getText('responsible') }}</strong><br>
    Borna Kitak<br>
    Alte Heidenheimerstraße 119<br>
    73431 Aalen</p>

  <h2>{{ getText('liability_content') }}</h2>
  <p>{{ getText('liability_text') }}</p>

  <h2>{{ getText('liability_links') }}</h2>
  <p>{{ getText('links_text') }}</p>

  <h2>{{ getText('copyright') }}</h2>
  <p>{{ getText('copyright_text') }}</p>

  <h2>{{ getText('eu_dispute') }}</h2>
  <p>{{ getText('eu_dispute_text') }} <a
      href="https://ec.europa.eu/consumers/odr" target="_blank"
      rel="noopener noreferrer">https://ec.europa.eu/consumers/odr</a>
  </p>
  <p>{{ getText('eu_dispute_notice') }}</p>

  <div class="spaceholder"></div>

  <app-footer></app-footer>
</main>
