<div *ngIf="isOpen" class="project-details-overlay dFlex">

  <app-header class="overlay_header_mobile" (closeOverlayClickedFromHeader)="closeOverlay()"></app-header>


  <div class="project-details-content dFlex">

    <div class="info_div dFlex">

      
      <button class="dFlex_ac close-button" (click)="closeOverlay()">
        <img class="switch_project_arrow" src="/assets/images/back_arrow.png" alt="">
        Go Back
      </button>




      <div id="title_div">
        <h2>{{ project.title }}</h2>
        <img #fade_animation_img src="/assets/images/about_me_underline.png" alt="">
      </div>

      <h3>Description</h3>
      <p>{{ project.description }}</p>

      <h3>Implementation Details</h3>
      <p>{{ project.info_details }}</p>

      <h3>duration</h3>
      <span>{{ project.duration }}</span>

      <h3>angewendete skills</h3>
      <!-- <img src="{{ project.used_skills[0].skill_image }}" alt="">
      <span>{{ project.used_skills[0].skill_name }}</span> -->

      <div class="needed_skills_div dFlex">

        <div class="needed_skill dFlex_ac" *ngFor="let skill of project.used_skills">
          <img [src]="skill.skill_image" alt="">
          <span>{{ skill.skill_name }}</span>
        </div>

      </div>

    </div>


    <div class="image_and_links_div dFlex">

      <img src="{{ project.image }}" alt="">

      <div class="project-links dFlex">
        <a [href]="project.github_link" class="the_red_button button_yling" target="_blank">GitHub</a>
        <a [href]="project.project_link" class="the_red_button button_yling" target="_blank">Live Test</a>
      </div>

      <div class="spaceholder"></div>

      <div class="navigation-buttons dFlex">
        <button class="dFlex_ac" (click)="previousProject()">
          <img class="switch_project_arrow" src="/assets/images/last_project_arrow.png" alt="">
          Previous Project

        </button>
        <button class="dFlex_ac" (click)="nextProject()">
          Next Project
          <img class="switch_project_arrow" src="/assets/images/next_project_arrow.png" alt="">
        </button>
      </div>
    </div>



  </div>
</div>