<div *ngIf="isOpen" class="project-details-overlay dFlex">
  
  <app-header (closeOverlayClickedFromHeader)="closeOverlay()"></app-header>


  <div class="project-details-content dFlex">

    <div class="info_div dFlex">
      <button (click)="closeOverlay()" class="close-button">X</button>


      <h2>{{ project.title }}</h2>

      <span>Description</span>
      <p>{{ project.description }}</p>

      <span>Implementation Details</span>
      <p>{{ project.info_details }}</p>

      <span>duration</span>
      <span>{{ project.duration }}</span>

      <span>angewendete skills</span>
      <span>{{ project.used_skills }}</span>

    </div>


    <div class="image_and_links_div dFlex">
      <img src="{{ project.image }}" alt="">
      <div class="project-links dFlex">
        <a [href]="project.githubLink" class="the_red_button button_yling" target="_blank">GitHub</a>
        <a [href]="project.liveLink" class="the_red_button button_yling" target="_blank">Live Test</a>
      </div>

      <div class="spaceholder"></div>

      <div class="navigation-buttons dFlex">
        <button (click)="previousProject()">Previous Project</button>
        <button (click)="nextProject()">Next Project</button>
      </div>
    </div>



  </div>
</div>