.project-details-screen {
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: black;
    background-image: url('/assets/images/project_info_background.webp');
    // background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.project-details-content {
    padding: 20px;
    border-radius: 8px;
    height: 100%;
    padding: 64px;
    padding-top: 0;
    padding-bottom: 64px;
    position: relative;
}

.info_div {
    width: 53%;
    flex-direction: column;
}

#title_div {
    position: relative;
    display: inline-block;
    margin-bottom: 16px;
    width: fit-content;

    >img {
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: auto;
        clip-path: inset(0 100% 100% 0);
        transition: clip-path 0.3s ease-in-out;
    }

    >.fade_animation {
        clip-path: inset(0 0 0 0);
    }
}

.needed_skills_div {
    flex-direction: row;
    gap: 16px;

    >.needed_skill {
        gap: 4px;

        >img {
            width: 24px;
            height: 24px;
        }
    }
}

// ----------------------------------------------------------

.image_and_links_div {
    width: 45%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

    >img {
        width: 500px;
        height: 300px;
        border-radius: 20px;
        border-color: white;
        border-style: solid;
        border-width: 2px;
    }
}


.close-button {
    width: fit-content;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: 700;
    font-size: 18px;
}

.close-button:hover {
    color: #F87A55;
}


.project-links {
    margin-bottom: 20px;
    margin-top: 40px;
    gap: 16px;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.navigation-buttons button {
    font-size: 18px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.navigation-buttons button:hover {
    color: #f7c518;
}

.switch_project_arrow {
    width: 24px;
    height: 24px;
    padding: 12px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
    margin: 16px 0;
}

p {
    margin: 0;
    font-size: 18px;
}

.spaceholder {
    display: none;
}

//_________________________________________

// big monitor
@media(min-width: 1920px) {
    .project-details-screen {
        align-items: center;
        height: 100vh;
    }

    #header {
        width: 1400px;
    }

    .close-button {
        font-size: 32px;
        margin-bottom: 24px;
    }

    .switch_project_arrow {
        width: 40px;
        height: 40px;
    }

    .project-details-content {
        width: 1300px;
    }
}

// tall monitor
@media (min-height: 1050px) and (max-width: 1919px) {
    .project-details-screen {
        height: 100vh;
    }

    .info_div {
        width: 50%;
        padding-left: 40px;

    }
}

@media (max-width: 1300px) {
    .image_and_links_div {
        width: 45%;
        flex-direction: column;
        align-items: flex-end;

        >img {
            width: 450px;
            height: 250px;
            border-radius: 20px;
            border-color: white;
            border-style: solid;
            border-width: 2px;
        }
    }

    .spaceholder {
        display: none;
    }
}

@media (max-width: 1150px) {

    .info_div {
        width: 50%;
        flex-direction: column;
    }

    .image_and_links_div {
        width: 50%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        >img {
            width: 400px;
            height: 250px;
            border-radius: 20px;
            border-color: white;
            border-style: solid;
            border-width: 2px;
        }
    }
}

@media (max-width: 950px) {

    .info_div {
        width: 50%;
        flex-direction: column;
    }

    .image_and_links_div {
        width: 50%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        >img {
            width: 350px;
            height: 200px;
            border-radius: 20px;
            border-color: white;
            border-style: solid;
            border-width: 2px;
        }
    }
}

@media (max-width: 850px) {
    .project-details-screen {
        background-image: url('/assets/images/project_info_background_mobile.webp');
        // padding-bottom: 64px;
    }

    .header_mobile {
        display: none;
    }

    .project-details-content {
        flex-direction: column;
        padding: 24px;
        height: 100%;
        align-items: center;
    }

    .info_div {
        width: 100%;
    }

    h3 {
        font-size: 20px;
    }

    // -----------------------------

    .image_and_links_div {
        width: 100%;
        padding: 32px 0;
        align-items: center;
        justify-content: center;

        >img {
            width: 90%;
            height: auto;
            border-radius: 20px;
        }
    }
}

@media (max-width: 600px) {
    .project-details-screen {
        background-size: auto 145%;
    }
}

@media (max-width: 400px) {
    .project-details-screen {
        background-size: auto 145%;
    }

    .project-details-content {
        padding-bottom: 64px;
    }
}

@media (max-width: 360px) {
    .needed_skills_div {
        flex-direction: column;
    }
}