<div class="project-details-screen dFlex">
  <app-header id="header" class="header_mobile" (closeOverlayClickedFromHeader)="closeOverlay()"></app-header>

  <div class="project-details-content dFlex">
    <div class="info_div dFlex">

      <button class="dFlex_ac close-button" (click)="closeOverlay()">
        <img class="switch_project_arrow" src="/assets/images/back_arrow.webp" alt="">
        {{ getText('goBack') }}
      </button>

      <div id="title_div">
        <h2>{{ project.title[currentLang] }}</h2>
        <img #fade_animation_img src="/assets/images/about_me_underline.webp" alt="">
      </div>

      <h3>{{ getText('description') }}</h3>
      <p>{{ project.description[currentLang] }}</p>

      <h3>{{ getText('implementationDetails') }}</h3>
      <p>{{ project.info_details[currentLang] }}</p>

      <h3>{{ getText('duration') }}</h3>
      <span>{{ project.duration[currentLang] }}</span>

      <h3>{{ getText('usedSkills') }}</h3>

      <div class="needed_skills_div dFlex">
        <div class="needed_skill dFlex_ac" *ngFor="let skill of project.used_skills">
          <img [src]="skill.skill_image" alt="">
          <span>{{ skill.skill_name }}</span>
        </div>
      </div>
    </div>

    <div class="image_and_links_div dFlex">
      <img [src]="project.image_details" alt="">

      <div class="project-links dFlex">
        <a [href]="project.github_link" class="the_red_button button_yling" target="_blank">
          {{ getText('github') }}
        </a>
        <a [href]="project.project_link" class="the_red_button button_yling" target="_blank">
          {{ getText('liveTest') }}
        </a>
      </div>

      <div class="navigation-buttons dFlex">
        <button class="dFlex_ac" (click)="previousProject()">
          <img class="switch_project_arrow" src="/assets/images/last_project_arrow.webp" alt="">
          {{ getText('previousProject') }}
        </button>
        <button class="dFlex_ac" (click)="nextProject()">
          {{ getText('nextProject') }}
          <img class="switch_project_arrow" src="/assets/images/next_project_arrow.webp" alt="">
        </button>
      </div>
    </div>
  </div>
</div>