
body {
    margin: 0;
    padding: 0;
    // overflow-x: hidden; // damit header keine scrollbar entstehen lässt
    width: 100%;

    font-family: 'Bricolage_Grotesque', sans-serif;
}

@font-face {
    font-family: 'Bricolage_Grotesque';
    src: url('assets/fonts/bricolage-grotesque-v8-latin/bricolage-grotesque-v8-latin-200.woff2');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Bricolage_Grotesque';
    src: url('assets/fonts/bricolage-grotesque-v8-latin/bricolage-grotesque-v8-latin-300.woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Bricolage_Grotesque';
    src: url('assets/fonts/bricolage-grotesque-v8-latin/bricolage-grotesque-v8-latin-regular.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bricolage_Grotesque';
    src: url('assets/fonts/bricolage-grotesque-v8-latin/bricolage-grotesque-v8-latin-500.woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bricolage_Grotesque';
    src: url('assets/fonts/bricolage-grotesque-v8-latin/bricolage-grotesque-v8-latin-600.woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Bricolage_Grotesque';
    src: url('assets/fonts/bricolage-grotesque-v8-latin/bricolage-grotesque-v8-latin-700.woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bricolage_Grotesque';
    src: url('assets/fonts/bricolage-grotesque-v8-latin/bricolage-grotesque-v8-latin-800.woff2');
    font-weight: 800;
    font-style: normal;
}

.logo {
    height: 40px;
    width: 40px;
}

.spaceholder {
    flex: 1;
}

.the_red_button {
    border-color: white;
    border-width: 4px;
    border-style: solid;
    color: white;
    background-color: #F87A55;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;



    align-self: flex-end;
  
    box-shadow: 3px 10px 1px rgb(255, 255, 255);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    
    &:hover {
      background-color: #F87A55;
      
      transform: translate(4px, 10px); /* Verschiebung nach unten rechts */
      
      /* Der weiße Schatten wird beim Hover entfernt, um den Eindruck des Drückens zu erzeugen */
      box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    }
  

  }
  