footer {
    color: white;
    padding-top: 24px;
    padding-bottom: 64px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.wrapper_infos {
    flex-direction: column;

    >.name_and_legal_notize {
        flex-direction: column;
    }
}

#footer_links {
    width: 70%;
    align-items: flex-end;
    justify-content: space-between;

    >a {
        text-decoration: none;
        color: white;
    }
}

.nav-link {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    cursor: pointer;

    >img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100px;
        height: auto;
        transition: clip-path 0.5s ease-in-out;
    }

    &:hover {
        >img {
            clip-path: inset(0 0 0 0);
            /* Bild wird sichtbar beim Hover */
        }
    }
}

.hover_left_to_right {
    clip-path: inset(0 100% 0 0);
}

// classes for rotating icon

.link_div {
    flex-direction: column;
    // background-color: rgba(255, 166, 0, 0.419);
    width: 140px;

    .icon_wrapper {
        margin-left: 40%;
        transition: margin 0.4s ease;

        >img {
            height: 24px;
            width: 24px;
        }
    }

    &.hovered {
        .icon_wrapper {
            margin-left: 80%;
        }
    }
}

// adjustet rotation of origin .visible class
.visible {
    transform: rotate(2deg);

}

.footer_link {
    font-size: 18px;
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 25px;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #007bff;
    }
}

//__________________________________________

@media (max-width: 500px) {

    footer {
        flex-direction: column;
        padding-bottom: 32px;
        margin-top: 24px;
    }

    .wrapper_infos {
        flex-direction: row;
        justify-content: space-between;

        >.name_and_legal_notize {
            flex-direction: column;
        }
    }

    #footer_links {
        justify-content: space-between;
        width: 100%;
    }


    .link_div {
        width: 100px;
    }

    .footer_link {
        border: transparent;
    }
}