<footer>
    <a href="#hero_component">
        <img class="logo" src="/assets/images/bk_logo.jpg" alt="logo">
    </a>

    <span>© Borna Kitak 2025</span>

    <div id="footer_links" class="dFlex">
        <a class="nav-link">
            Legale Notice
            <img class="hover_left_to_right" src="/assets/images/header_img/contact_frame.png" alt="">
        </a>

        <div class="link_div dFlex" appRotatingIcon>
            <div class="icon_wrapper">
                <img class="waving_icon" src="/assets/icons/footer_github-icon.svg" alt="" />
            </div>
            <a class="footer_link dFlex_ac_jc event_target" href="https://github.com/IBKI-Tenshi" target="_blank" rel="noopener noreferrer">GitHub</a>
        </div>

        <div class="link_div dFlex" appRotatingIcon>
            <div class="icon_wrapper">
                <img class="waving_icon" src="/assets/icons/footer_linkedin-icon.svg" alt="" />
            </div>
            <a class="footer_link dFlex_ac_jc event_target" href="#" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        </div>

        <div class="link_div dFlex" appRotatingIcon>
            <div class="icon_wrapper">
                <img class="waving_icon" src="/assets/icons/footer_e.mail-icon.svg" alt="" />
            </div>
            <a class="footer_link dFlex_ac_jc event_target" (click)="markFormAsTouched()" rel="noopener noreferrer">Email</a>
        </div>
    </div>
</footer>